html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    height: 100vh;
}

header {
    grid-area: header;
    background-color: #1e6887;
    border-bottom: 1px solid #ddd;
}

header > a {
    display: block;
    float: left;
    font-weight: bold;
    margin: 1em;
}

header a {
    color: white;
    text-decoration: none;
}

.navbar-right {
    float: right;
    margin: 1em;
    padding: 0;
}

ul.navbar-nav li {
    margin: 0 0.5em;
    display: inline-block;
}
  
main {
    grid-area: content;
    margin: 0 1em;
}

main a {
    color: #1e6887;
}

footer {
    grid-area: footer;
    height: 50px;
    background-color: #4d4d4d;
    color: #cfcfcf;
    border-top: 1px solid #ddd;
    padding: 0 1em;
}

footer a {
    color: #cfcfcf;
    text-decoration: none;
    font-weight: bold;
}

code {
    background: #eaeaea;
    padding: 1em;
    border: 1px solid #BEBEBE;
    border-radius: 2px;
    display: block;
}

.invalid-feedback {
    color: #c55;
}

.alert.alert-error {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

ul.breadcrumb {
    display: inline-block;
    padding: 10px 20px;
    background: #f1f1f1;
}
ul.breadcrumb li {
    display: inline-block;
}
ul.breadcrumb li:not(:last-child):after {
    content: " > ";
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
